In [1]:
from sklearn.model_selection import train_test_split
from metrics import *
import pandas as pd

c:\Users\Vadim\anaconda3\lib\site-packages\scipy\__init__.py:155: UserWarning: A NumPy version >=1.18.5 and <1.25.0 is required for this version of SciPy (detected version 1.26.1
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
data = pd.read_csv('./data/heart_disease.csv')
data.head()

,HeartDisease,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking,Sex,AgeCategory,Race,Diabetic,PhysicalActivity,GenHealth,SleepTime,Asthma,KidneyDisease,SkinCancer
0,0,16.60,1,0,0,3.0,30.0,0,0,8,0,1,1,4,5.0,1,0,1
1,0,20.34,0,0,1,0.0,0.0,0,0,13,0,0,1,4,7.0,0,0,0
2,0,26.58,1,0,0,20.0,30.0,0,1,10,0,1,1,2,8.0,1,0,0
3,0,24.21,0,0,0,0.0,0.0,0,0,12,0,0,0,3,6.0,0,0,1
4,0,23.71,0,0,0,28.0,0.0,1,0,5,0,0,1,4,8.0,0,0,0

In [3]:
data['BMI'] = data['BMI'].apply(lambda x: 'Underweight' if x < 18.5 else 'Healthy' if x < 24.9 else 'Overweight' if x < 29.9 else 'Obese')

In [4]:
data['PhysicalHealth'] = data['PhysicalHealth'].apply(lambda x: 0 if x < 15 else 1)
data['MentalHealth'] = data['MentalHealth'].apply(lambda x: 0 if x < 15 else 1)

In [5]:
X = data.iloc[:, 1:]
y = data.iloc[:, 0]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [6]:
from nb.naive_bayes import NaiveBayes

nb = NaiveBayes()
nb.fit(X_train, y_train)

In [7]:
pred = nb.predict(X_test)
pred

        predicted_class
271884                0
270361                0
219060                0
24010                 0
181930                1
...                 ...
181387                0
13791                 0
180164                0
94526                 0
107129                1

[63959 rows x 1 columns]

In [ ]:
pred

        predicted_class
271884               -1
270361               -1
219060               -1
24010                -1
181930               -2
...                 ...
181387               -1
13791                -1
180164               -1
94526                -1
107129               -2

[63959 rows x 1 columns]

In [ ]:
print(pred.dtype)

AttributeError: 'list' object has no attribute 'dtype'